{% include 'sitio/header.html' %}
    Este es el apartado para que mi hijo aprenda numeros

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://www.bing.com/images/create/number-1-cartoon/649b9c03410847499d6ae33d3213bce1?id=smcofA%2fRYlW9GzodT780BQ%3d%3d&view=detailv2&idpp=genimg&idpclose=1&FORM=SYDBIC" alt="Title">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                Second Column
            </div>
            
        </div>
    </div>

{% include 'sitio/footer.html' %}